body {
  height: 100vh;
  background-image: url(./images/galaxy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.itmes-container {
  opacity: 0.6;
}

.itmes-container:hover {
  opacity: 0.8;
}

.item-photo {
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 200px;
}

/* #home:click {
  color: #fff;
} */
